h2{
	font-family: garamond;
}
.head-image{
	height:200px;
	background-image: url(assets/images/why/head.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y:-6vh;
}
.head-image-content h2{
	font-family: garamond;
	font-size:35px;
	left: 90px;
	width:15%;
	position: relative;
	top:75px;
	border-bottom: 1px dotted white;
	color: white;
}
.after-image{
	background-color:#2E86C1;
}
.after-image ul{
	padding:0px;
	padding-top:15px;
}
.after-image ul li{
	display:inline-block;
	padding:0px 10px;
}
.after-image ul li a{
	font-size: 19px;
	color: white;
}
.after-image a:hover{
	text-decoration: none;
}
.why h2{
	margin:20px 0px;
}
.why p{
	font-size:18px;
	text-align: justify;
}
.why ul{
	padding:0px;
}
.why ul li{
	list-style: none;
	line-height:30px;
	font-size:18px;
}